footer {
    display: block;
    position: absolute;
    bottom:0px;
    height: auto;
    width:100%;
    background:#999;
}   

#right-footer {
    float: right;
}

li a {
    /*display: block; */
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}